/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

body {
  background-size: cover;
  color: whitesmoke;
  background-color: black;
}

main,
footer,
header {
  font-weight: 600;
  text-shadow: 1px 1px 2px black;
}

.info-bar {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 50px;
  backdrop-filter: blur(3px);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 75px;
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 75px;
}